/* font import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&family=Montserrat:wght@100&display=swap');

/* global settings */
body{
    height: 800px;
    background-color: rgb(224,20,77);
    margin:0px;
    color: rgb(10,18,50);
}

::selection{
    background-color: rgb(10,18,50);
    color: rgb(224,20,77);
}

/* banner stuff */
img.banner{
    position:fixed;
    bottom:17%;
    right:-7px;
    transform: rotate(-45deg);
    border-radius:50px;
    z-index:0;
    width:30%;
}

@keyframes bannerJiggle{
    0%{transform: rotate(-45deg);}
    17%{transform: rotate(-50deg);}
    34%{transform: rotate(-40deg);}
    51%{transform: rotate(-50deg);}
    68%{transform: rotate(-40deg);}
    84%{transform: rotate(-50deg);}
    100%{transform: rotate(-45deg);}
}

a img.banner:active{
    animation: bannerJiggle 1.7s ease-in-out 1;
}


/* h-, v-bars */
div.verticalBar{
    background-color:rgb(10,18,50);
    position:fixed;
    right:50px;
    height:100%;
    width:100px;
    z-index:-1;
}

div.verticalBarContainer{
    position:static;
    float:right;
    width: 150px;
    height:100%;
    margin-left:20px;
}

div.horizontalBar{
    background-color:rgb(10,18,50);
    position:fixed;
    bottom:50px;
    width:100%;
    height:100px;
    z-index:-1;
    box-sizing: border-box;
}

div.horizontalBarContainer{
    position:static;
    float:left;
    width: 100%;
    height:150px;
}


/* menu stuff */
table.main{
    position:relative;
    top:10px;
    left:10px;
    border-spacing: 0px 0.5rem;
    z-index:1;
}

tr{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

a{
    text-decoration: none;
}

tr.dropdown th{
    background-color: rgb(224,20,77);
    border-radius:5px;
    padding:0;
}

tr.dropdown th a{
    padding:4px;
    color: white;
    border: 1px dotted rgb(10,18,50);
    border-radius:5px;
    display:block;
}

tr.dropdown th a:visited{
    color:rgb(159,219,247);
}

tr.dropdown th a:focus{
    color:rgb(10,18,50);
}

tr.dropdown:hover th a{
    background-color: white;
    color: rgb(10,18,50);
}

tr.dropdown th a:active{
    color:rgb(224,20,77);
    font-weight:bolder;
}

tr.dropdown td{
    display: none;
}

tr.dropdown:hover td{
    display: table-cell;
}   

tr.dropdown td a{
    color:rgb(10,18,50);
}

tr.dropdown td a:visited{
    color:rgb(159,219,247);
}

tr.dropdown td a:focus{
    color:rgb(98,97,164);
    font-weight: bolder;
}

tr.dropdown td a:hover{
    color:rgb(10,18,50);
}

tr.dropdown td a:active{
    color:rgb(98,97,164);
    font-weight: normal;
}

/* email ticker */
tr.Contact{
    position:relative;
}

td.ticker.boundary{
    width:300px;
    height:24px;
    display:none;
    overflow:hidden;
    position:relative;
}

@keyframes ticker{
    0%{left:-265px;}
    90%{left:40px;}
    100%{left:0;}
}

tr.dropdown:hover td a.ticker{
    animation: ticker 1.7s ease-in-out 1;
    position:absolute;
    font-size:85%;
    white-space:nowrap;
    display:block;
    bottom:9px;
}

/* content area */
#centerText{
    font-family: 'Alegreya SC', serif;
    /*
    position:absolute;
    left:20%;
    top:25%;
    width:60%;
    */
    font-size:200%;
    margin:50px;
}